<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/login.css"> 

</head>
<body>
    <div class="header">Promoção de verão para todos os trajes de banho e entrega expressa gratuita!! - 50% de desconto! <a href="#" style="color: yellow;">CompreAgora!</a></div>

    <div class="nav-bar">
        <h2 style="font-style: italic;"><SPAN style="color: #127e5a; ">BEST</SPAN>PRICE</h2>
        <div>
            <a href="#">Início</a>
            <a href="#">Contato</a>
            <a href="#">Sobre</a>
            <a href="#">Junte-se</a>
    </div>
    
         <div class="search-box">
        <input type="text" placeholder="O que você procura?"  img src="public/img/Vector.svg" alt="lupa">
        
    </div>
    </div>
    <div class="container">
        <img src="../../public/img/Logotipo moderno minimalista azul marinho para ecommerce.png" style="width: 300px; height: 250px;" alt="Cart Logo">
        <div class="form-container">
            <div class="logo">
            </div>
            <div class="form-box">
                <h3>Faça seu login</h3>
                <p>Insira seus detalhes abaixo</p>
                <form id="registerForm" action="" method="POST" >
                    
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="senha" placeholder="Senha" required>
                    <button type="submit">Cadastrar</button>
                
                </form>
                
                <p class="login-footer">Já tem uma conta? <a href="#" style="color: lightgreen;">Log in</a></p>
            </div>
        </div>
    </div>
</body>
</html>
