<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/perfil.css">
    <title>Perfil</title>
</head>
<body>
    <div class="header">Promoção de verão para todos os trajes de banho e entrega expressa gratuita!! - 50% de desconto! <a href="#" style="color: yellow;">CompreAgora!</a></div>

    <div class="nav-bar">
        <h2 style="font-style: italic;"><SPAN style="color: #127e5a; ">BEST</SPAN>PRICE</h2>
        <div>
            <a href="#">Início</a>
            <a href="#">Contato</a>
            <a href="#">Sobre</a>
            <a href="#">Junte-se</a>
    </div>
    
         <div class="search-box">
        <input type="text" placeholder="O que você procura?"  img src="public/img/Vector.svg" alt="lupa">
        
    </div>
    </div>
    <div class="editperfil">
        <div class="txt1">
            <p>Primeiro nome</p>
            <input id="primanome" type="text"  readonly>

            <p>E-mail</p>
            <input id="email" type="email" readonly >

        </div>

        <div class="txt2">
            <p>Segundo nome</p>
            <input id="segnome" type="text" readonly>

            <p>Endereco</p>
            <input id="enderecp" type="text" readonly>
        </div>
        
        <div class="txt2">

        </div>
    
    </div>
</body>
</html>
